.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin: 0 auto;

  // To avoid the gap between the clipped background image of header section & section-about
  // Header = 95vh & image clipped 75vh = 20vh gap
  // Hence moving 20vh up
  margin-top: -20vh;
}
