.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;

  // To avoid the gap between the clipped background image of header section & section-about
  // Header = 95vh & image clipped 75vh = 20vh gap
  // Hence moving 20vh up
  margin-top: -20vh;
}

.section-features {
  padding: 25rem 0;

  //Background Image
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/nat-4.jpg);

  //Image Cover
  background-size: cover;

  //Shift to cover the Gap
  margin-top: -10rem;

  // Clip Design to the background Image using skew here and not clip
  transform: skewY(-7deg);

  // Selecting all Direct CHild of Features and Anti Skew them to make them straight
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  padding: 25rem 0 15rem 0;
  background-color: $color-grey-light-1;
  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0;

  // Relative position as the Parent of bg video
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  // Adding Solid Linear Gradient
  // We can specify direction using the degrees as well
  // 50% states the portion from which / till which we want the gradient
  // when the percentages are same we get a solid gradient style
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
