/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Best Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Font Size */
html {
  /* Default font-size: 16px */
  /* font-size: 10px; */
  /* 16 / 16 = 0.625 = 62.5%; */
  /* Percentage of User Browser font-size setting */
  font-size: 100%;
}

/* Body & Overall Display Settings */
body {
  /* As font-style is a property thats inherited hence declaring it in body */
  font-style: 'Lato', sans-serif;

  /* Default Line Height */
  line-height: 1.7;

  /* Color */
  color: #777;

  /* Border Around the Web Page */
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);

  /* It automatically scales & crops the image as needed to cover the entire background, without leaving any empty space */
  background-size: cover;

  /* This property is used to specify the starting position of a background image within its containing element */
  background-position: top;

  /* clip-path It allows you to create complex shapes or paths and then use them to clip or mask the visible content of an element */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  /* Relative Parent for Logo img */
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Align anchor elements(inline) at the center of the Header Section */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary-main {
  /* To display main and sub lines in different lines */
  display: block;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 35px;

  /* Animations */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* To remove the shakiness of the animation */
  backface-visibility: hidden;
}
.heading-primary-sub {
  /* To display main and sub lines in different lines */
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* Animations shorthand notation */
  animation: moveInRight 1s ease-out;
}

/* Move in from Left heading-primary-main */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Move in from Right heading-primary-sub */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* BUTTON */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;

  /* Anchor elements are inline */
  display: inline-block;

  padding: 15px 40px;
  border-radius: 100px;

  /* Smooth Transition of Button */
  transition: all 0.2s;

  /* To push the ::after button back the parent button needs to be relative */
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: '';
  background-color: #fff;
  border-radius: 100px;

  /* As ::after is child of button 100% means exactly as the size of the buttons */
  height: 100%;
  width: 100%;

  /* Absolute Positioning */
  position: absolute;
  top: 0;
  left: 0;

  /* Pushing behind the button */
  z-index: -1;

  /* Adding animation / transition to the ::after button scaling as the parent of the .btn:hover::after is .btn:hover */
  transition: all 0.4s;
}

/* On hovering animating the ::after button */
.btn:hover::after {
  /* Wanna scale it and then make it disappear to add a scaling effect on hovering */
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;

  /* The button is already there and does not come up from the bottom initially */
  /* animation-fill-mode:backwards; is used to apply the 0% state from the very beginning to the button */
  animation-fill-mode: backwards;
}
