* {
  margin: 0;
  padding: 0;
}

// Declaring Variables in SCSS
$color-primary: #f9ed69; //yellow color
$color-secondary: #f08a5d; //orange
$color-tertiary: #b83b5e; //pink
$color-text-dark: #333;
$color-text-light: #eee;

// Declaring width Variable
$width-button: 150px;

// Declaring Mixins
@mixin clearfix {
  // Using it as a reusable piece of Code
  // Using clearfix hack to prevent parent from collapsing when all its child elements are floated
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

//Declaring a Function
@function divide($a, $b) {
  @return $a/$b;
}

// Declaring a mixin with argument
@mixin style-link-text($color) {
  text-decoration: none;
  text-transform: uppercase;

  // Displays the colors passed to the Function
  color: $color;
}

nav {
  margin: 30px;
  background-color: $color-primary;
  // Including mixin
  @include clearfix;
}

.navigation {
  list-style: none;
  float: left;

  //Nesting in SCSS
  li {
    display: inline-block;
    margin-left: 30px;

    //Nesting in SCSS
    // '&' is used to refer to the parent selector in nested styles, making your code more concise and easier to understand
    &:first-child {
      margin: 0;
    }

    a {
      //Nesting for anchor Element for :link State
      &:link {
        // Including mixin
        @include style-link-text($color-text-dark);
      }
    }
  }
}

.buttons {
  float: right;
}

// Declaring an Extends
%btn-placeholder {
  padding: 10px;
  display: inline-block;
  text-align: center;
  width: $width-button;
  border-radius: 100px;

  // Including mixin
  @include style-link-text($color-text-light);
}

.btn-main {
  // Nesting
  &:link {
    // Including Extends
    @extend %btn-placeholder;
    background-color: $color-secondary;
  }
  // Nesting
  &:hover {
    // Inbuilt Function `darken`
    background-color: darken($color-secondary, 15%);
  }
}

.btn-hot {
  // Nesting
  &:link {
    // Including Extends
    @extend %btn-placeholder;
    background-color: $color-tertiary;
  }
  // Nesting
  &:hover {
    // Inbuilt Function `lighten`
    background-color: lighten($color-tertiary, 15%);
  }
}

// ~ Mixin & Extends are different :

// Mixin : In Mixin the Values are substituted at the place where mixin is included i.e say for example at @include style-link-text

// Extends : In Extends the classes are substituted at the place where the extends are declared i.e say for example at %btn-placeholder
