// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// SEARCH
.search {
  flex: 0 0 40%;

  // Centering icon inside the search bar
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    // font-family & font-size are not inherited by input elements
    // hence declaring it as inherit
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;

    //To make the icon move inside the search bar
    margin-right: -3rem;

    // Width 90% of parents width
    width: 90%;
    transition: all 0.2s;

    // Increase Search bar width on focus
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  // '+' Adjacent Sibling Selector
  // Changing the background color to same as that of the search icon when the search bar is focussed
  // Doing it separately as we want the color to change when the input field is focussed and not just the icon
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(0.2rem);
    }
  }

  &__icon {
    // Formatting SVG Icons
    // Simply set the Height an Width
    height: 2rem;
    width: 2rem;

    // Changing Color of the SVG Icons
    fill: var(--color-grey-dark-3);
  }
}

// USER NAVIGATION
.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  // Aligning the Items to take the full width of the container
  align-self: stretch;

  // Applying style to all the direct children of user-nav
  // & > * : means all the direct children of the user-nav
  & > * {
    padding: 0rem 2rem;
    cursor: pointer;

    // As the user-nav takes 100% of the width bcoz of stretch we want the items to to take the same width
    height: 100%;
  }
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    // Centering the Items vertically and horizontally
    display: flex;
    justify-content: center;
    align-items: center;

    // Relative parent positioning for notification
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;

    // Changing color fo the SVG Icons
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100px;
    background-color: var(--color-primary);
    color: white;

    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    // Using flexbox to center the notification text as well
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {
    // Centering the Items vertically and horizontally
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
}

// SIDE BAR

.sidebar {
  // Pushing the legal text ar the very bottom vertically
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-nav {
  &__item {
    width: 1.75rem;
    height: 1.75rem;
  }
  &__link {
    width: 1.75rem;
    height: 1.75rem;
  }
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

// LEGAL TEXT
.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}
