.container {
  max-width: 120rem;

  //Centering Div Elements
  margin: 8rem auto;

  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  //Flex Container
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  // Shorthand for flex-grow , -shrink & -basis
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  // Take all of the remaining space after side bar
  // Using flex-item property flex-grow
  flex-grow: 1;
}
